<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width">
		<title>{{ page.title }}</title>
		<link href="/css/main.css" type="text/css" rel="stylesheet">
		<link href="/css/syntax.css" type="text/css" rel="stylesheet">
		<link href="/css/materialize.min.css" type="text/css" rel="stylesheet">
		<link href="/img/favicon.ico" rel="icon">
        <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
	</head>
	<body>		
		<nav class="teal lighten-2">
			<div class="nav-wrapper">
				<div class="container">
                    <a href="/" class="brand-logo hide-on-med-and-down">{{ site.name }}</a>
					<ul id="nav" class="right">
						<li><a href="/">Home</a></li>
						<li><a href="http://apps.wanwenli.com">Salmon Apps</a></li>
						<li><a href="/categories.html">Categories</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="container">
            <div class="section">
                <div class="row">
                    <div class="col l9 s12">
                        <div class="content">{{ content }}</div>
                    </div>
                    <div class="col l3 s12">
                        <h4 class="grey-text text-darken-4">Links</h4>
                        <ul>
                            <li><a href="http://chenyuio.com">Chen Yu I/O</a></li>
                            <li><a href="http://www.bicrement.com/">Zhuochun bicrement</a></li>
                            <li><a href="http://guanyilun.wordpress.com/author/guanyilun/">Yi Lun's Backyard</a></li>
                            <li><a href="http://flyfy1.github.io">Songyy's Thoughts</a></li>
                            <li><a href="http://qiang.hu">A Hu Qiang Blog</a></li>
                            <li><a href="http://joshuatj.com">JOSHUA.NG; I.AM.</a></li>
                            <li><a href="http://onethingihaveasked.wordpress.com/">One thing I have asked</a></li>
                        </ul>
                    </div>
                </div>
            </div>
		</div>				
		<footer class="page-footer teal lighten-2">
			<div class="container">
                <div class="row">
                    <div class="col l9 s12">
                        <h5 class="white-text">About</h5>
                        <p class="grey-text text-lighten-4">Simon is a software engineer who uses Java, Python and JavaScript.</p>
                    </div>
                    <div class="col l3 s12">
                        <h5 class="white-text">Connect</h5>
                            <iframe src="https://ghbtns.com/github-btn.html?user=swwl1992&type=follow&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
                            <script type="IN/MemberProfile" data-id="https://www.linkedin.com/pub/simon-wan-wenli/25/952/b81" data-format="hover" data-text="Simon Wan Wenli"></script>
                    </div>
                </div>
			</div>
            <div class="footer-copyright">
			    <div class="container"> <p>Copyright &copy; <b>Simon Wan Wenli</b>
                    &nbsp;{{ site.time | date: '%Y' }}
                    &nbsp;| Design from <a class="grey-text text-lighten-3" href="http://materializecss.com/"><b>Materialize</b></a></p>
                </div>
            </div>
		</footer>
		<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="/js/materialize.min.js"></script>
	</body>
</html>
